@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}


.counter-div{
  width: 40rem;
  border: 1px solid var(--grey);
  padding: 1rem;
  background-color: var(--light-blue);
  color: var(--white);
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  
}

.counter-div > * {
  margin-bottom: 2rem;
}

.count {
  font-size: 4rem;
}

.buttons button {
  margin: 0 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 3px;
  /* box-shadow: 0 9px #999; */
}

.buttons button:hover {
  background-color: #3e8e41;
}

.buttons button:active{
  background-color: #3e8e41;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}

button.subtract {
  background-color: orangered;
}
.buttons button.subtract:hover {
  background-color: rgb(203, 4, 4);
}
button.reset {
  background-color: var(--white);
  color: var(--black)
}

.buttons button.reset:hover {
  background-color: rgb(212, 212, 212);
}

button.add {
  background-color: rgb(3, 163, 3);
}

.buttons button.add:hover {
  background-color: #007e04;
}
